# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
.venv/

# Ignore Django secrets
db.sqlite3
*.log

# Ignore VS Code settings
.vscode/

# Ignore Python dependencies
*.egg-info/
