<div class="modal-header">
    <h5 class="modal-title">
        {% if form.name %}
        Edit academic period
        {% else %}
        New academic period
        {% endif %}
        </h5>
    <button class="btn btn-light btn-round" data-bs-dismiss="modal">
        <i class="fa-solid fa-x"></i>
    </button>
</div>
<div class="modal-body">
    <form id="save-period-form" action="{% url 'save-period' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.name }}
            {% if form.name.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.name.errors.as_text|striptags }}
                </div>
            {% endif %}
            <label for="{{ form.name.id_for_label }}">Name</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.start_date }}
            {% if form.start_date.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.start_date.errors.as_text|striptags }}
                </div>
            {% endif %}
            <label for="{{ form.start_date.id_for_label }}">Start date</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.end_date }}
            {% if form.end_date.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.end_date.errors.as_text|striptags }}
                </div>
            {% endif %}
            <label for="{{ form.end_date.id_for_label }}">End date</label>
        </div>
        {{form.school}}
        {{form.id}}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary"
            {% if not form.name.value %} disabled {% endif %}
            >SAVE
                
            </button>
        </div>
    </form>
</div>

