<form id="save-school-form" 
action="{% url 'school-school-save'%}" method="POST"
>
  {% csrf_token %}

    <div class="modal-header">
        <h6 class="modal-title">Edit school details
        </h6>
        <button class="btn btn-light btn-round" type="button" data-bs-dismiss="modal">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    {{ form.name }}
                    <label for="{{ form.name.id_for_label }}">{{form.name.label}} *</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    {{ form.country }}
                    <label for="{{ form.country.id_for_label }}">{{form.country.label}} *</label>
                </div>
            </div>
        </div>
        
    </div>

    <div class="modal-footer justify-content-end">
        <div class="d-flex justify-content-center">
            <button class="mx-1 btn btn-light"  type="button" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="mx-1 btn btn-primary">Save</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {

         // Char counter
         $('[maxlength]').maxlength();

        // Yeargroups selectsize
        var $select = $('#id_country');
        var required = $select.prop('required');    
        var selectized = $select.selectize({
            placeholder: 'Select country...',
        });
        $select.addClass('required');
    });
</script>