{% load static %}
<style>
    #checkpoint_space-table tbody tr:not(.dtrg-group) {
        cursor: pointer;
    }
    #checkpoint_space-table tbody td:hover {
        background-color:rgb(220, 220, 220); 
        cursor: pointer; 
    }
    /* Disable pointer events on fixed-start cells */
    #checkpoint_space-table tbody td.dtfc-fixed-start  {
        pointer-events: none;
    }
</style>
<!-- Your table HTML -->
<table id="checkpoint_space-table" style="width:100%" class="hover">
    <thead>
        <tr id="header-row">
        </tr>
    </thead>
    <tbody></tbody>
</table>


 <!-- Render dynamic variables -->
<script>
    window.myAppConfig = {
        urlData: "{{ url_data }}"
    };
</script>
<!-- Include your external JS file -->
<script src="{% static 'gradebook_app/js/checkpoints/checkpoint_space.js' %}"></script>

