
<form id="{{ form.form_id }}" 
    action="{{ form.action }}"  
    method="POST">
    {% csrf_token %}
 
    <div class="modal-header">
        <h5 class="modal-title">
            Update entry
        </h5>
         
        <button class="btn btn-light btn-round" type="button" data-bs-dismiss="modal">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3 restricted">
                    {{ form.id }}
                    <label for="{{ form.id.id_for_label }}">{{form.id.label}}</label>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    {{ form.component }}
                    <label for="{{ form.component.id_for_label }}">{{form.component.label}}
                    </label>
                </div> 
     
            </div>
        </div>  

    </div>

    {% include 'gradebook_app/checkpoints/partials/checkpoint_entry_footer.html' %}
        
</form>


<script>
    $(document).ready(function() {


        var $select = $('#id_component');
        var required = $select.prop('required');    
        var selectized = $select.selectize({
            placeholder: 'Select a component...',
        });
        if (required === true) {
            $select.addClass('required');
        }
    });
</script>
