{% load static %}
<style>
    #checkpoint_space-table tbody tr:not(.dtrg-group) {
        cursor: pointer;
    }
    #checkpoint_space-table tbody td:hover {
        background-color:rgb(220, 220, 220); 
        cursor: pointer; 
    }
    /* Disable pointer events on fixed-start cells */
    #checkpoint_space-table tbody td.dtfc-fixed-start  {
        pointer-events: none;
    }

    .wrap-td {
        white-space: normal !important; 
        word-wrap: break-word;  
    }

    .min-250 {
        min-width: 250px;  
    }
    .min-150 {
        min-width: 200px;  
    }
</style>
<!-- Your table HTML -->
<table id="checkpoint_space-table" class="hover nowrap" style="width:100%">


</table>


<script>
    window.myAppConfig = {
        urlData: "{{ url_data|escapejs }}",
        scope: "{{ scope|escapejs }}"
    };
</script>
<script src="{% static 'gradebook_app/js/checkpoints/checkpoint_space.main.js' %}"></script>



