
<style>
    #examinations-table tbody tr:not(.dtrg-group) {
        cursor: pointer;
    }
</style>

<table id="examinations-table" style="width:100%"
class="hover">
    <thead>
        <tr>
            <th>Student</th>
            <th>Year</th>
            <th>Programme</th>
            <th>Qualification</th>
            <th>Grade</th>
            <th>Series</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        function adjustTableScrollHeight() {
            const margin = 320;
            let newHeight = Math.max($(window).height()-margin, 340); 
            return newHeight
        }

        function initialiseSelect(){
            var firstRow = table.row(':eq(0)', { page: 'current' });    // Get the first row using DataTables API
            if (firstRow.length > 0) {
                firstRow.select();                                      // Select the first row using DataTables API
                var firstRowNode = firstRow.node();                     // Get the DOM node of the first row
                var $firstRow = $(firstRowNode);                        // Wrap the DOM node in jQuery to obtain a jQuery object
                htmx.trigger($firstRow[0], 'click');
            }
        }

        const periodId = {{ period_id }}; 
        console.log(periodId)
        const columnDefs = [{ visible: false, targets: [2] }];
        if (periodId === 0) {
            columnDefs.push({ visible: false, targets: [1] });
        }

        let table = new DataTable('#examinations-table', {
            ajax: {
                url: '{{ url_data }}',  // Replace with your JSON view URL
                dataSrc: 'data'
            },
            columns: [
                { data: 'student' },
                { data: 'yeargroup' },
                { data: 'programme' },
                { data: 'qualification' },
                {
                    data: 'grade',
                    render: function (data) {
                        return data.length > 0 ? data : '<span class="text-black-50">n/a</span>';
                    }
                },
                {
                    data: 'series_year',
                    render: function (data) {
                        return data.length > 0 ? data : '<span class="text-black-50">n/a</span>';
                    },
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).addClass('text-nowrap');
                    }
                },
            ],
            createdRow: function (row, data, dataIndex) {
                row.setAttribute('hx-get', data.hx_get);
                row.setAttribute('hx-target', data.hx_target);
                row.setAttribute('hx-swap', data.hx_swap);
                htmx.process(row);            
            },
            deferRender: true,
            stateSave: true,
            rowId: 'id',
            select: {
                info: false,
                style: 'single',
                toggleable: false,
            },
            order: [[0, 'asc']],
            //orderFixed = [0, 'asc'],
            scrollCollapse: true,
            scrollY: adjustTableScrollHeight() + 'px',
            rowGroup: {
                dataSrc: ['student', 'programme']
            },
            columnDefs: columnDefs,
            layout: {
                topStart: {
                    
                    buttons: ['pageLength',
                        /*{
                            text: '<i class="fa-solid fa-user-graduate"></i> ▲',
                            className: '',
                            action: function (e, dt, node, config) {
                                dt.order([0, 'asc']).draw();
                            }
                        }*/
                    ]
                }
            },
        });

        console.log(table)





        // MOVE TO SHARED (STUDENTS USES THIS AS WELL)
        table.on('init.dt', function () {
            let selectedRow = table.row({ selected: true });
            let selectedRowNode = selectedRow.node();
            if (selectedRow.any()) {
                let selectedRowNode = selectedRow.node();
                htmx.trigger(selectedRowNode, 'click');
            } else {
                try {
                    initialiseSelect(); 
                } catch (error) {
                    if (table.rows().count() > 0) {
                        location.reload();
                    }
                }
                
            }
        })
      
    });


</script>

